<section class="page">
  <header class="header">
    <div class="header__title">Cats list</div>
    <form class="header__form" [formGroup]="formGroup">
      <mat-form-field class="header__search">
        <div matPrefix  class="header__search_prefix"></div>
        <input [formControl]="SearchQuery" class="header__search_input" matInput placeholder="search by id">
      </mat-form-field>
  
      <mat-form-field class="header__breed-select">
        <mat-label>Cats breed</mat-label>
        <mat-select formControlName="Breed" class="" placeholder="Please change a breed" multiple> 
            <mat-option *ngFor="let breed of breeds" [value]="breed.id">{{breed.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    
  </header>
  <section class="list">
    <ng-container *ngFor="let item of items">
      <div class="list__item" (click)="openImg(item)" [ngStyle]="{'background-image': 'url('+item.url+')'}" ></div>
    </ng-container>
  </section>
  <footer class="footer">
    <form [formGroup]="formGroup">
      <mat-form-field class="footer__page-select">
        <mat-label>Display per page</mat-label>
        <mat-select formControlName="Limit" class="mat-select-custom"> 
            <mat-option *ngFor="let i of ['10','20','30','50']" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    
  </footer>

</section>