/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$main: #56C6AD;
$bgMain: #77D8C2;
$bgMainLighter: #E0F3EF;
$bgMainLight: #f9fefd;

$text: #252F2C;
$textLighter: #4A5653;
$textLight: #838C8A;

$inputBg: #F4F5F6;
$inputBgLight: #E6E9ED;